/* header {
 
  display: flex;
  align-items: center;
 
  justify-content: space-between;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  font-family: sans-serif;
} */
/* header a {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  gap: 30px;
} */

/* ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

ul li {
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
} */

/* h2 {
  color: #2e2f42;
  background-color: #f4f4fd;
  font-family: sans-serif;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0px;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #2e2f42;
} */

/* p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #2e2f42;
}

button {
  width: 169px;
  height: 56px;
  color: white;
  background: #4d5ae5;
  border-style: none;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sectionOne {
  margin: 3px;
  height: 600px;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: #2e2f42;
  height: 600px;
  font-family: sans-serif;
} */

/* .sectionTwo {
  font-family: sans-serif;
  color: #2e2f42;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
 gap: 10px;
  padding: 10px;
  margin: 3px;
} */
/* .sectionTwo h3 {
  display: flex;
  justify-content: flex-start;
}
.sectionTwo ul {
  display: flex;

  justify-content: space-between;

  flex-wrap: wrap;

  list-style: none;

  padding: 0;
}

.sectionTwo li {
  width: 23%;
} */

/* .sectionThree {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;

  gap: 40px;

 
  background-color: #f4f4fd;
} */
/* .sectionThree ul {
  display: flex;
  flex-wrap: wrap;

  gap: 40px;
  justify-content: center;
  padding: 0;
  list-style: none;
} */

/* .downcard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 264px;
  height: 100px;
  background-color: #ffffff;
} */
/* .downcard > h3,
.downcard > p {
  margin: 0px;
} */

/* footer {
  padding: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 200px;
  background-color: #2e2f42;
} */

/* footer p {
  color: #ffffff;
  width: 264px;
  height: 72px;

} */
